@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing:border-box;

}
body{
    width: 100%;
    background:#f1f3fc 0% 0% no-repeat padding-box;
    opacity: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
}

.QuantText{
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    opacity: 1;
}
.history{
    font-size: 16px;
    align-items:baseline;
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: 600;
    opacity: 1;
}
.container{
    margin: 0px ;
    display:flex;
}
.welcome{
    
    font-size: 25px;
    font-weight: 100;
    padding: 20px 0;
    text-align: center;
    font-family: "Montserrat";
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    background-color: #446DFF;
}
.allbody{
    background-color: #f1f3fc;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 70px;
    margin-left: 12%;
    margin-top: 5%;
}
.inner-body{
    width: 48%;
    margin: 0 auto;
}
.allbody p{
    font-family: "Montserrat";
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 2%;
    font-weight: 500;
}
.container-box{
    flex-wrap: wrap;
    position: relative;
    display: flex;
    width: 100%;
    height: 33%;
}
.container-box .box1{
    width: 173px;
    height: 137px;
    margin: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.box1 img{
    content: url("../assets/scale\ \(1\).svg");
    
}
.box1:hover img{
    content: url("../assets/scale.svg");
    
}
.box1:hover {
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC098;
    color: #0EC098;
    font-size: 17px;
    text-transform: capitalize;
    transition: 0.7s;
}


.container-box .box2{
    width: 173px;
    height: 137px;
    margin: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2 img{
    content: url("../assets/hot\ \(1\).svg");
}
.box2:hover img{
    content: url("../assets/hot.svg");
}
.box2:hover {
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
    color: #FD5160;
    font-size: 17px;
    text-transform: capitalize;
    transition: 0.7s;
}
.container-box .box3{
    width: 173px;
    height: 137px;
    margin: 10px;   
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box3 img{
    content: url("../assets/beaker\ \(1\).svg");
}
.box3:hover img{
    content: url("../assets/beaker.svg");
}
.box3:hover {
    background:#E8DDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7224FF;
    color: #7224FF;
    font-size: 17px;
    text-transform: capitalize;
    transition: 0.7s;
}
.innerform{
    width: 70%;
    margin: 0 auto;
}
.container-form{
    width: 48%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.From{
    /* flex-grow: 1; */
    /* margin-right: auto;
    margin-left: auto; */
    width: 260px;
    outline: none;
    position: relative;
    left: 10px;
}
.To{
    /* flex-grow: 1;
    margin-right: 10%; */
    margin-left: 6.5% ;
    /* flex-grow: 1; */
    margin-right: auto;
    width: 260px;
    outline: none;
}
.fromNumber{
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
}
.toNumber{
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
}
.convert1{
    padding: 3px;
}
.convert2{
    padding: 3px;
}
.container-form form{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #E7DCFE; */
}
.form-input{
    border-radius: 7px;
}
.form-input select{
    border: 1px solid #E7DCFE;
    border-top:1px solid #E7DCFE; 
    outline: none;
    
}
.fromNumber{
    outline: none;
}
.form-input input{
    border: 1px solid #E7DCFE;
    outline: none;
}
.onclickcard1{
    background: #EDFDF9 0% 0% no-repeat padding-box ;
    border: 1px solid #0EC098;
    color: #0EC098;
    font-size: 17px;
    text-transform: capitalize;
}
.onclickcard2{
    background: #FFEEF0 0% 0% no-repeat padding-box ;
    border: 1px solid #FD5160;
    color: #FD5160;
}
.onclickcard3{
    background: #E8DDFF 0% 0% no-repeat padding-box ;
    border: 1px solid #7224FF;
    color: #7224FF;
}
.onclickcard1 img{
    content: url("../assets/scale.svg");
}
.onclickcard2 img{
    content: url("../assets/hot.svg");
}
.onclickcard3 img{
    content: url("../assets/beaker.svg");
}
@media (max-width: 960px){
    .option1{
        width: 173px;
    }
    .option2{
        width: 173px;
    }
}